.strikethrough {
    text-decoration: line-through;
}

.list-item-row {
    display: flex;
}

span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

mat-card-header {
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
}

.header-button-first {
    display: flex;
    justify-content: flex-start;
    width: 30%;
}

.header-button-last {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}